.text-primary {
	color: #fff;
	font-size: 2.8rem;
	font-weight: 700;
	text-align: center;
	width: 100%;
	line-height: 1.6;
	background-image: linear-gradient(90deg, #00ff77, #00ffee, #ff6600, #00f5ff, #00ff00);
	background-size: 400%;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	animation: animate 20s infinite alternate;
}

.text-primary {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    color: transparent;
    background-image: linear-gradient(90deg, #00ff77, #00ffee, #ff6600, #00f5ff, #00ff00);
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 20s infinite alternate;
}

.project-card {
    border: 2px solid #00ffc7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-card h2 {
    margin-top: 15px;
    font-size: 1.8rem;
    color: #fff;
}

.project-card p {
    font-size: 1rem;
    color: #ccc;
    margin-top: 10px;
}

.project-card button {
    display: contents;
}

.project-card a:hover {
    background-color: #00d1a0;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
.tag-list {
    font-size: x-large;
}

.project-card{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; /* Adjust the value to control the spacing */
    justify-content: space-evenly;
}
