<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../main.css">
  </head>
  <body>
    <nav>
        <a href="">
            <h1 id="blog-title">{{ title }}</h1>
        </a>
          <ul class="navbar">
            <li><a class="navlink" href='/'>Home</a></li>
            <li><a class="navlink" href='/archive/'>Archive</a></li>
            <li><a class="navlink" href='/series/'>Series</a></li>
            <li><a class="navlink" href='/projects/'>Projects</a></li>
            <li><a class="navlink" href='/tils/'>Tils</a></li>
        </ul>
    </nav>
    <hr>
    {{ body }}
    <footer>
      © {{ today.year }}
    </footer>
  </body>
  
</html>
