<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Techstructive Blog</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta property="og:url" content="https://www.meetgor.com/{{ url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    {% if image_url %}
        <meta property="og:image" content="{{ image_url }}">
    {% else %}
        <meta property="og:image" content="https://res.cloudinary.com/techstructive-blog/image/upload/v1653735630/blog-media/tblog-logo.png">
    {% endif %}
    <meta property="twitter:domain" content="mr-destructive.github.io">
    <meta property="twitter:url" content="https://www.meetgor.com/{{ url }}">
    <meta name="twitter:title" content="Techstructive Blog">
    <meta name="twitter:description" content="">
    {% if image_url %}
        <meta name="twitter:image" content="{{ image_url }}">
    {% else %}
        <meta name="twitter:image" content="">
    {% endif %}
    <link rel="icon" href="../tbicon.png" type="image/png">
    <link rel='stylesheet' href='../main.css' />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EET2ZX4QY1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-EET2ZX4QY1');
    </script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4627844420729409"
     crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <a href="/">
            <h1 class="text-primary">Techstructive Blog</h1>
        </a>
          <ul class="navbar">
            <li><a class="navlink" href='/'>Home</a></li>
            <li><a class="navlink" href='/blog/'>Blog</a></li>
            <li><a class="navlink" href='/projects/'>Projects</a></li>
        </ul>
    </nav>
    <hr>
    <article class="blog-post h-entry">
        {% if image_url %}
        <div id='cover-wrapper'>
            <a href="{{ url }}"><img src={{image_url}} class="thumbnail" alt='cover image for article' /></a>
        </div>
        {% endif %} 
        <div id='title-wrapper'>

            <a class="u-url" href="/{{ slug }}/">
                <h1 class='flair' id="title" style="text-align:right;z-index:2;padding-right:.2rem" class="blog title no-link">{{ title }}
                </h1>
            </a>
            <p>{{ description }}</p>
            {% for tag in tags %}
            <a href="/tag/{{tag}}" >#{{ tag }}</a>
            {% endfor %}
            <div class="author">
                <p><time class="dt-published post-date" datetime="{{ date }}" style="text-align:right;z-index:2">{{ date }}</time>
                    <p>
                        <span class="p-given-name">Meet</span>
                        <span class="p-family-name">Gor</span>
                    </p>
                </p>
            </div>
            <div class="h-card p-author" rel="author">
                    <p class="p-note">Techstructive Blog<a href="https://twitter.com/MeetGor21">@MeetGor21</a></p>
                    <p>
                        <a href="{{ edit_link }}" alt="edit post url" title="edit this post">
                            edit
                            <span role="img" aria-label="">✏️</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <hr />

        <div id='post-body'>
            {{ body }}
        </div>
        <hr>
        <div id='show'>
        </div>
    </article>
    <div id="comments">
        <script src="https://giscus.app/client.js"
                data-repo="Mr-Destructive/meetgor.com"
                data-repo-id="R_kgDOHZ6V_g"
                data-category="Q&A"
                data-category-id="DIC_kwDOHZ6V_s4CRfn4"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="dark_high_contrast"
                data-lang="en"
                crossorigin="anonymous"
                async>
        </script>
    </div>
    <hr>
    <footer>
    <ul class='social'>
      <li>
        <a href="https://twitter.com/MeetGor21">Twitter
            <svg class="svg-icon grey">
                <use xlink:href="../social-icons.svg#twitter"></use>
            </svg>
            </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/meetgor/">LinkedIn
            <svg class="svg-icon grey">
                <use xlink:href="../social-icons.svg#linkedin"></use>
            </svg>
        </a>
      </li>
      <li>
        <a href="https://github.com/Mr-Destructive">GitHub
            <svg class="svg-icon grey">
                <use xlink:href="../social-icons.svg#github"></use>
            </svg>
         </a>
      </li>
      <li>
        <a href="https://dev.to/mr-destructive">Dev.to
            <svg class="svg-icon grey">
                <use xlink:href="../social-icons.svg#devto"></use>
            </svg>
        </a>
      </li>
      <li>
    <a href="/rss.xml">RSS
        <svg class="svg-icon orange">
              <use xlink:href="../social-icons.svg#rss"></use>
        </svg>
    </a>
      </li>
      <li>
    <a class="u-email" href="mailto:gormeet711@gmail.com">Email</a>
      </li>
    </ul>
      Techstructive Blog © {{ today.year }}
      </footer>
      <script>

 function addCopyButtons(clipboard) {
    document.querySelectorAll('pre > code').forEach(function (codeBlock) {
        var button = document.createElement('button');
        button.className = 'copy-code-button';
        button.type = 'button';
        button.innerText = 'Copy';

        button.addEventListener('click', function () {
            clipboard.writeText(codeBlock.innerText).then(function () {
                /* Chrome doesn't seem to blur automatically,
                   leaving the button in a focused state. */
                button.blur();

                button.innerText = 'Copied!';

                setTimeout(function () {
                    button.innerText = 'Copy';
                }, 2000);
            }, function (error) {
                button.innerText = 'Error';
            });
        });

        var pre = codeBlock.parentNode;
        if (pre.parentNode.classList.contains('highlight')) {
            var highlight = pre.parentNode;
            highlight.parentNode.insertBefore(button, highlight);
        } else {
            pre.parentNode.insertBefore(button, pre);
        }
    });
}
if (navigator && navigator.clipboard) {
    addCopyButtons(navigator.clipboard);
} else {
    var script = document.createElement('script');
    script.src = 'https://cdnjs.cloudflare.com/ajax/libs/clipboard-polyfill/2.7.0/clipboard-polyfill.promise.js';
    script.integrity = 'sha256-waClS2re9NUbXRsryKoof+F9qc1gjjIhc2eT7ZbIv94=';
    script.crossOrigin = 'anonymous';
    script.onload = function() {
        addCopyButtons(clipboard);
    };

    document.body.appendChild(script);
}
      </script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4627844420729409"
     crossorigin="anonymous"></script>
<!-- Blog add -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4627844420729409"
     data-ad-slot="5404858009"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>
</html>
