<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta property="og:url" content="https://www.meetgor.com/series/{{ series }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Meet Gor">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://res.cloudinary.com/techstructive-blog/image/upload/v1653735630/blog-media/tblog-logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="https://www.meetgor.com/">
    <meta name="twitter:url" content="https://www.meetgor.com/series/{{ series }}">
    <meta name="twitter:title" content="Meet Gor">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://res.cloudinary.com/techstructive-blog/image/upload/v1653735630/blog-media/tblog-logo.png">
      <link rel="stylesheet" href="../../main.css"/>
      <link rel="icon" href="https://res.cloudinary.com/techstructive-blog/image/upload/v1653735630/blog-media/tblog-logo.png"/>
  </head>
  <body>
    <nav>
        <a href="/">
            <h1 class="text-primary">{{ title }}</h1>
        </a>
          <ul class="navbar">
            <li><a class="navlink" href='/'>Home</a></li>
            <li><a class="navlink" href='/blog/'>Blog</a></li>
            <li><a class="navlink" href='/projects/'>Projects</a></li>
        </ul>
    </nav>
    <hr>
    <ul class="blog-nav">
        <li><a class="navlink" href='/tils/'>Tils</a></li>
        <li><a class="navlink" href='/series/'>Series</a></li>
        <li><a class="navlink" href='/tags/'>Tags</a></li>
    </ul>
    <h2>{{ series }}</h2>
    <p>{{ series_description }}</p>
    {{ body }}
    <footer>
        {{ title }}  © {{ today.year }}
    </footer>
  </body>
  
</html>
