.text-primary {
	color: #fff;
	font-size: 2.8rem;
	font-weight: 700;
	text-align: center;
	width: 100%;
	line-height: 1.6;
	background-image: linear-gradient(90deg, #00ff77, #00ffee, #ff6600, #00f5ff, #00ff00);
	background-size: 400%;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	animation: animate 20s infinite alternate;
}

.project-card {
    background-color: #000030;
    border: 6px solid #00ffc7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-card h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.project-card p {
    font-size: 1rem;
    color: #777;
}

.project-card a {
    display: block;
    margin-top: 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.project-card a:hover {
    background-color: #555;
}


