<header class="header">
  <a class="site-title" href="/{{ .Config.Blog.PrefixURL }}" aria-label="{{ .Config.Blog.Name }} - Home">{{ .Config.Blog.Name }}</a>
  <nav>
    <ul>
      <li><a href="/{{ .Config.Blog.PrefixURL }}" aria-label="Home">Home</a></li>
      <li><a href="/{{ .Config.Blog.PrefixURL }}posts" aria-label="Posts">Posts</a></li>
      <li><a href="/{{ .Config.Blog.PrefixURL }}all-content" aria-label="All Content">All Content</a></li>
      <li><a href="/{{ .Config.Blog.PrefixURL }}about" aria-label="About">About</a></li>
      <li><a href="/{{ .Config.Blog.PrefixURL }}contact" aria-label="Contact">Contact</a></li>
    </ul>
  </nav>
  <div class="theme-switch">
    <input type="checkbox" id="theme-toggle" aria-label="Toggle Theme">
    <label for="theme-toggle"></label>
  </div>
  {{ if .Config.AdminMode }}
    <button id="editor" onclick="location.href='/{{.Config.Blog.PrefixURL}}editor'" aria-label="Editor">
      Editor
    </button>
  {{ end }}
</header>