<header class="header">
  <a class="site-title" href="/{{ .Config.Blog.PrefixURL }}">{{ .Config.Blog.Name }}</a>
  <nav>
    <ul>
      <li><a href="/{{ .Config.Blog.PrefixURL }}">Home</a></li>
      <li><a href="/{{ .Config.Blog.PrefixURL }}posts">Posts</a></li>
      <li><a href="/{{ .Config.Blog.PrefixURL }}about">About</a></li>
      <li><a href="/{{ .Config.Blog.PrefixURL }}contact">Contact</a></li>
    </ul>
  </nav>
  <div class="theme-switch">
    <input type="checkbox" id="theme-toggle" aria-label="Toggle Theme">
    <label for="theme-toggle"></label>
  </div>
  {{ if .Config.AdminMode }}
    <button id="editor" onclick="location.href='/{{.Config.Blog.PrefixURL}}editor'">
      Editor
    </button>
  {{ end }}
</header>