<!-- Related Reading Section -->
{{ $relatedPosts := index .Post.Frontmatter.Extras "nav_related" }}
{{ if $relatedPosts }}
<aside class="related-reading" aria-labelledby="related-reading-title">
    <h3 id="related-reading-title" class="related-title">📚 Related Reading</h3>
    <ul class="related-list">
        {{ range $index, $post := $relatedPosts }}
        {{ if lt $index 5 }}
        <li class="related-item">
            <a href="/{{ $post.Frontmatter.Slug }}" class="related-link">
                <span class="related-post-title">{{ $post.Frontmatter.Title }}</span>
                <span class="related-post-date">{{ $post.Frontmatter.Date }}</span>
            </a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</aside>
{{ end }}
