<style>
:root {
    --bg-color: {{ .Config.Blog.Themes.default.Bg }};
    --text-color: {{ .Config.Blog.Themes.default.Text }};
    --secondary-text-color: {{ .Config.Blog.Themes.default.SecondaryText }};
    --border-color: {{ .Config.Blog.Themes.default.CodeBlocks.Border }};
    --link-normal: {{ .Config.Blog.Themes.default.Link.Normal }};
    --link-hover: {{ .Config.Blog.Themes.default.Link.Hover }};
    --link-active: {{ .Config.Blog.Themes.default.Link.Active }};
    --quote-color: {{ .Config.Blog.Themes.default.Quotes }};
    --code-bg-color: {{ .Config.Blog.Themes.default.CodeBlocks.Bg }};
    --code-border-color: {{ .Config.Blog.Themes.default.CodeBlocks.Border }};
    --code-text-color: {{ .Config.Blog.Themes.default.Code.Text }};
    --code-comment-color: {{ .Config.Blog.Themes.default.Code.Comment }};
    --code-keyword-color: {{ .Config.Blog.Themes.default.Code.Keyword }};
    --code-string-color: {{ .Config.Blog.Themes.default.Code.String }};
    --code-number-color: {{ .Config.Blog.Themes.default.Code.Number }};
    --code-variable-color: {{ .Config.Blog.Themes.default.Code.Variable }};
    --code-function-color: {{ .Config.Blog.Themes.default.Code.Function }};
}

.secondary-theme {
    --bg-color: {{ .Config.Blog.Themes.secondary.Bg }};
    --text-color: {{ .Config.Blog.Themes.secondary.Text }};
    --secondary-text-color: {{ .Config.Blog.Themes.secondary.SecondaryText }};
    --border-color: {{ .Config.Blog.Themes.secondary.CodeBlocks.Border }};
    --link-normal: {{ .Config.Blog.Themes.secondary.Link.Normal }};
    --link-hover: {{ .Config.Blog.Themes.secondary.Link.Hover }};
    --link-active: {{ .Config.Blog.Themes.secondary.Link.Active }};
    --quote-color: {{ .Config.Blog.Themes.secondary.Quotes }};
    --code-bg-color: {{ .Config.Blog.Themes.secondary.CodeBlocks.Bg }};
    --code-border-color: {{ .Config.Blog.Themes.secondary.CodeBlocks.Border }};
    --code-text-color: {{ .Config.Blog.Themes.secondary.Code.Text }};
    --code-comment-color: {{ .Config.Blog.Themes.secondary.Code.Comment }};
    --code-keyword-color: {{ .Config.Blog.Themes.secondary.Code.Keyword }};
    --code-string-color: {{ .Config.Blog.Themes.secondary.Code.String }};
    --code-number-color: {{ .Config.Blog.Themes.secondary.Code.Number }};
    --code-variable-color: {{ .Config.Blog.Themes.secondary.Code.Variable }};
    --code-function-color: {{ .Config.Blog.Themes.secondary.Code.Function }};
}
</style>
